/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Rubik", sans-serif;
}

.conteiner{
    width: 100%;
    max-width: 1440px;
    margin:  auto;
    padding: 0 50px;
}


/* otabek start */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__text{
    font-size: 33px;
    font-weight: 500;
    color: #363853;
}

.header__span{
    color: #FF7A50;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
    color: #363853;
}

.header__nav--link:active{
    color: #FF7A50;
}

.header__nav--btn{
    padding: 14px 25px;
    background-color: #FF7A50;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 400;
    font-weight: 18px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.section__text--text{
    width: 530px;
    font-size: 66px;
    font-family: 500;
    color: #363853;
}

.section__text--span{
    color: #FF7A50;
}


.section__text--paragrf{
    width: 513px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #363853;
}

.section__button{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section__button--btn{
    padding: 12px 20px;
    background-color: #FF7A50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 400;
}

.section__image{
    width: 689px;
    height: 681px;
}



/* otabek end */


/* alisaad start */

/* alisaad end */


/* shoxruxbek start */

/* shoxruxbek end */



/* azizbek start */

/* azizbek end */


/* muslimbek start */

/* muslimbek end */


/* otabek footer  start */
.grid{
    display: grid;
    grid-template-columns: (5, 1fr);
    grid-template-rows: (1, 1fr);
    margin-bottom: 30px;
}

.grid__text{
    grid-column: 1/2;
}

.grid__text--li{
    font-size: 16px;
    font-family: 400;
    color: #363853;
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.grid__text--img{
    margin-top: 40px;
}

.grid__text:nth-child(2){
    grid-column: 2/3;
}

.grid__text:nth-child(3){
    grid-column: 3/4;
}

.grid__text:nth-child(4){
    grid-column: 4/5;
}

.grid__text:nth-child(5){
    grid-column: 5/6;
}

.grid__ul--lii{
    font-weight: 500;
    color: #202020;
}

.grid__ul--li{
    font-size: 18px;
    font-weight: 400;
    color: #363853;
    margin-top: 50px;
}

.footer__footer{
    
}
