

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteiner{
    width: 100%;
    max-width: 1440px;
    margin:  auto;
    padding: 0 50px;
}


/* otabek start */

/* otabek end */


/* alisaad start */

/* alisaad end */


/* shoxruxbek start */

/* shoxruxbek end */



/* azizbek start */

/* azizbek end */


/* muslimbek start */

/* muslimbek end */