/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Rubik", sans-serif;
}

.conteiner{
    width: 100%;
    max-width: 1440px;
    margin:  auto;
    padding: 0 50px;
}


/* otabek start */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__text{
    font-size: 33px;
    font-weight: 500;
    color: #363853;
}

.header__span{
    color: #FF7A50;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 400;
    color: #363853;
}

.header__nav--link:active{
    color: #FF7A50;
}

.header__nav--btn{
    padding: 14px 25px;
    background-color: #FF7A50;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 400;
    font-weight: 18px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.section__text--text{
    width: 530px;
    font-size: 66px;
    font-family: 500;
    color: #363853;
}

.section__text--span{
    color: #FF7A50;
}


.section__text--paragrf{
    width: 513px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #363853;
}

.section__button{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section__button--btn{
    padding: 12px 20px;
    background-color: #FF7A50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 400;
}

.section__image{
    width: 689px;
    height: 681px;
}



/* otabek end */


/* alisaad start */

/* alisaad end */


/* shoxruxbek start */
.container{
  display: flex;
  justify-content: center;
  padding: 15px 50px;
}
.sarlavha{
    margin-top: 90px;
}

h2{
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 15px;
}
.sar1{
    color: #ff6b2b;
}
.sar2{
    color: #ff6b2b;
    font-weight: bold;
}
.matn{
    color: #666;
    margin-bottom: 20px;
    width: 90%;
}
.yozuvlar{
    margin-bottom: 20px;
}
.yozuvlar__ikki{
    margin-bottom: 8px;
    color: #555;
}
.btn{
    background: #ff6b2b;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}


/* shoxruxbek end */



/* azizbek start */

/* azizbek end */


/* muslimbek start */

/* muslimbek end */

/* shoxruhbek search start */
.search {
    background: #e75c2e;
    color: white;
    width: 800px;
    padding: 40px 50px;
    border-radius: 20px;
    margin: 100px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title__matn {
    font-size: 15px;
    margin-bottom: 30px;
}

.asosiy__bolim {
    background: white;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.inputlar {
    border: none;
    outline: none;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
}

.button {
    background: #e75c2e;
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}
/* shoxruhbek search end */

/* otabek footer  start */
.grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: (5, 1fr);
    grid-template-rows: (1, 1fr);
    margin-bottom: 30px;
}

.grid__text{
    grid-column: 1/2;
}

.grid__text--li{
    font-size: 16px;
    font-family: 400;
    color: #363853;
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.grid__text--img{
    margin-top: 40px;
}

.grid__text:nth-child(2){
    grid-column: 2/3;
}

.grid__text:nth-child(3){
    grid-column: 3/4;
}

.grid__text:nth-child(4){
    grid-column: 4/5;
}

.grid__text:nth-child(5){
    grid-column: 5/6;
}

.grid__ul--lii{
    font-weight: 500;
    color: #202020;
}

.grid__ul--li{
    font-size: 18px;
    font-weight: 400;
    color: #363853;
    margin-top: 50px;
}

.footer__footer{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__footer--paragrf{
    font-size: 14px;
    font-weight: 400;
    color: #363853;
}

.footer__footer--ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__ul--li{
    font-size: 14px;
    font-weight: 400;
    color: #646464;
}